.left{
    font-family: Arial, serif;
    margin-top: 13vh;
    font-size: 2.5vw;

}
.imageAndText{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video{
    margin-top: 10vh;
    width: 40vw;
    height: 65vh;
    margin-left: 4vw;
}
.text1{
    overflow: hidden;
    border-right: .08em solid;
    white-space: nowrap;
    animation:
            typing 5s steps(50, end),
            blink-caret .50s step-end infinite;
}
.text2{
    overflow: hidden;
    border-right: .08em solid;
    white-space: nowrap;
    opacity: 0;
    animation:
            typing2 5s steps(40, end),
            blink-caret .75s step-end infinite;
    animation-delay: 5s;
}
.text3{
    overflow: hidden;
    border-right: .08em solid;
    white-space: nowrap;
    opacity: 0;
    animation:
            typing3 5s steps(40, end),
            blink-caret .75s step-end infinite;
    animation-delay: 10s;
}
@keyframes typing {
    from {
        width: 0;
    }
    100% {
    width: 100%;
    }
}
@keyframes typing2 {
    from {
        opacity: 1;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
@keyframes typing3 {
    from {
        opacity: 1;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.marginRight{
    margin-right: 150px;
}
.marginRight2{
    margin-right: 100px;
}
@media screen and (max-width: 600px) {
    .imageAndText {
        flex-direction: column-reverse;
    }

    .image {
        width: 100%;
        height: 40vh;
        margin-left: 0;
        margin-top: 0;
    }

    .left {
        margin-left: 4vw;
        margin-top: 5vh;
        font-size: 6vw;
    }

    .text1 {
        margin-left: 17vw;
    }

    .marginRight {
        margin-right: 14vw;
    }
    .text2 {
        margin-left: 11vw;
    }
    .marginRight2 {
        margin-right: 5vw;
    }

    .text3 {
        margin-left: 3vw;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 80%;
        }
    }
    @keyframes typing2 {
        from {
            opacity: 1;
            width: 0;
        }
        100% {
            opacity: 1;
            width: 80%;
        }
    }
    @keyframes typing3 {
        from {
            opacity: 1;
            width: 0;
        }
        100% {
            opacity: 1;
            width: 97%;
        }
    }
}
