.flexNav{
    display: flex;
    background-color: rgb(248,248,248);
}
.shop{
    font-family: Arial, serif;
    text-decoration: none;
    font-size: 2vw;
    color: black;
    margin-top: 6vh;
    margin-left: 10vw;
}
.shop:hover{
    margin-bottom: 30px;
    border-bottom: 3px solid black;
}
.blog{
    font-family: Arial, serif;
    text-decoration: none;
    font-size: 2vw;
    color: black;
    margin-top: 6vh;
    margin-left: 7vw;
}
.blog:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}

.cart{
    font-size: 1.5vw;
    font-family: Arial, serif;
    margin-top: 10vh;
    margin-left: 18vw;
    color: black;
    text-decoration: none;
}
.login{
    font-size: 1.5vw;
    font-family: Arial, serif;
    margin-top: 10vh;
    margin-left: 4vw;
    color: black;
    text-decoration: none;
}
.image{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 18vw;
    width: 17vw;
}
.flexNavMobile{
    background:rgb(248,248,248);
    width: 100%;
    display: none;
}
.menuMobile{
    margin-left: 3vw;
    margin-top: 4vh;
    width: 8vw;
}
.imageMobile{
    margin-left: 24vw;
    width: 37vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.sidenav {
    text-decoration: none;
    height: 100%;
    position: fixed;
    background-color: rgb(245,245,245);
    overflow-x: hidden;
    transition: width 0.5s ease-in-out; /* Add transition for width */
    z-index: 8; /* Ensure it stays on top */
}
/* Sidenav links */
.sidenav h3 {
    text-decoration: none;
    font-size: 4.5vw;
    text-align: center;
    color: #818181;
    transition: 0.3s;
}

.sidenav h3:hover {
    text-decoration: none;
    font-weight: bold;
}
.border{
    border: 1px solid rgb(0,0,0);
}
.loginText{
    text-decoration: none;
}
@media screen and (max-width: 600px){

    .flexNav{
        display: none;
    }
    .flexNavMobile{
        display: flex;
        flex-direction: row;
    }

}