.mainFlex{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: rgb(220,220,220);
    height: 82.4vh
}
.flexForItem{
    overflow: auto;
    margin-left: 2vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
}
.image{
    flex-grow: 1;
    width: 8vw;
    height: 25vh;
}
.priceAndName{
    flex-grow: 4;
   text-align: center;
}
.remove{
    margin-top: 4vh;
    width: 7vw;
    height: 4vh;
    border-radius: 30px;
    border: 1px solid black;
}
.border{
    width: 100%;
    border-bottom: 3px solid pink;
}