.main{
    display: flex;
    flex-direction: column;
    background: pink;
    height: 80vh;
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.form{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.loginTitle{
    text-align: center;
}
.email{
    height: 30px;
    border: 1px gray solid;
    border-radius: 7px;
}
.password{
    height: 30px;
    border: 1px gray solid;
    border-radius: 7px;
}
.submit{
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    width: 6vw;
    height: 6vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.submit:hover{
    background-color: rgb(220,220,220);
}
.submit:active{
    border-bottom: 2px solid rgb(204,204,204);
}
.back{
    margin-top: 2vh;
    margin-left: 0.3vw;
    cursor: pointer;
}
.forOrphanages{
    text-align: center;
}
.emailAndPassword{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.labelPassword{
    margin-top: 2vh;
}
.error{
    text-align: center;
}