.flex{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}
.flex2{
    display: flex;
    flex-direction: row;
}
.flex3{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-left: 28vw;
}
.innerFlex{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}
.mainImage{
    margin-left: 3vw;
    width: 380px;
    height: 500px;
    overflow: hidden;
}
.sideImage{
    margin-bottom: 1vh;
}
.artName{
    text-align: center;
    font-size: 40px;
}
.textSide{
    margin-left: 5vw;
}
.description{
    font-size: 20px;
    text-align: center;
}
.dimensions{
    margin-left: 13vw;
    font-size: 20px;
}
.dimensions2{
    margin-left: 2vw;
    font-size: 20px;
}
.additionalInfo{
    margin-left: 14vw;
}
.button{
    width: 120px;
    height: 40px;
    border: none;
    margin-top: 2vh;
    border-radius: 40px;
    margin-left: 2vw;
}
.images{
    margin-left: -7vw;
}
.mainImageFill{
    position: relative;
    width: 450px;
    height: 550px;
}
.loading{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}