.flex{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}
.flex2{
    display: flex;
    flex-direction: row;
}
.flex3{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-left: 28vw;
}
.innerFlex{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}
.mainImage{
    margin-left: 3vw;
    object-fit: contain;
}
.mainImageFill{
    position: relative;
    width: 35vw;
    height: 70vh;
}
.sideImage{
    object-fit: contain;
    width: 10vw;
    height: 20vh;
    margin-bottom: 1vh;
}
.artName{
    text-align: center;
    font-size: 40px;
}
.textSide{
    margin-left: 5vw;
}
.description{
    font-size: 1rem;
    width: 40vw;
    text-align: center;
}
.dimensions{
    margin-left: 13vw;
    font-size: 20px;
}
.dimensions2{
    margin-left: 2vw;
    font-size: 20px;
}
.additionalInfo{
    margin-left: 14vw;
}
.button{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: none;
    margin-top: 2vh;
    border-radius: 40px;
    margin-left: 2vw;
}
.loading{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    width: 8vw;
    height: 18vh;
}
.flexMobile{
    display: none;
}
.dots{
    margin: 2vh auto 0;
}
.imageAnimation{
    animation-name: imageAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes imageAnimation {
    from{
        width: 100%;
        height: 100%;
    }
    to{
        width: 5vw;
        height: 10vh;
        transform: translate(67vw,-24vh);
    }
}
@media screen and (max-width: 600px){
    .flex{
        display: none;
    }
    .mainImageFill{
        width: 70vw;
        height: 50vh;
        margin-left: 10vw;
    }
    .flexMobile{
        display: flex;
        flex-direction: column;
    }
}