.sideBar{
    background: rgb(220,220,220);
    color: black;
    height: 82.94vh;
    width: 12vw;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
}
.items{
    margin-top: 5vh;
    cursor: pointer;
}
