.innerFlex{
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 60vh;
    border-left: 2px solid black;

}
.innerFlex.noTopBorder{
    border-top: 2px solid black;
}
.innerFlex.noLeftSide{
    border-left: 0px;
}
.outerFlex{
    margin-left: 6vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3vh;
}
.images{
    margin-left: 4.5vw;
    margin-top: 1vh;
}
.innerImage{
    width: 13vw;
    height: 40vh;
}
.artName{
    margin-left: 6.2vw;
}
.price{
margin-right: 2vw;
}
.button{
    width: 6vw;
    height: 5vh;
    margin-top: 2vh;
    border-radius: 30px;
    border: none;
}
.button:hover{
    background-color: pink;
    cursor: pointer;
}
.buttonAndPrice{
    margin-left: 12vw;
    display: flex;
    flex-direction: row;
}